[submodule "extern/gear"]
	path = extern/gear
	url = git@github.com:Znny/gear.git
	branch = main
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
